.imgsize{
  height: 240px;
  width: 100%;
  border: 2px solid black;
  transition: .4s;
}
.imgsize:hover{
  transform: scale(1.1);
  transition: .4s;

}
img{
  overflow: hidden;
  transition: .5s;
}
.imghover{
  height: 240px;
  width: 100%;
}
.height{
  height: 100px;
  width: 100px;
}
.imgsizesize{
  height: 400px;
  width: 100%;
  border: 2px solid black;
}